<main>
    <nav class="navbar">
      <a [routerLink]="['/']" class="navbar-logo">
        <header class="brand-name">
          <img class="brand-logo" src="/assets/fricon.png" alt="logo" aria-hidden="true" />
        </header>
      </a>
      <ul class="navbar-menu" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="todo">Todo</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="contactpage">Contact Page</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="login">Login/Register</a></li>
          

      </ul>
      <form class=navbar-search>
        <input type="text" placeholder="Filter the frogs"  #filter onkeydown="if(event.keyCode==13){document.getElementById('btnSearch').click()}"/>
        <button class="primary" type="button" id="btnSearch" (click)="doSearch(filter.value)">Search</button>
      </form>
    </nav>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
